 public class dikUcgenAlanHipotenusHesaplama {
    public static void main(String[] args){

        Scanner input=new Scanner(System.in);
        double dikKenar1,dikKenar2;

        System.out.print("1.Dik Kenarı Giriniz: ");
        dikKenar1= input.nextDouble();
        System.out.print("2.Dik Kenarı Giriniz: ");
        dikKenar2= input.nextDouble();

        double hipotenus = Math.sqrt(dikKenar1*dikKenar1 + dikKenar2+dikKenar2) ;

        System.out.println("Hipotenüs: " +hipotenus+ " birimdir");

        double alan= (dikKenar1 * dikKenar2) / 2;
        System.out.println("Alan: " +alan+ " birimdir");



    }
}
